// В этом файле должны быть стили для БЭМ-блока for-demo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.for-demo {

  $block-name:                &; // #{$block-name}__element
}

.search-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 100px;
}