//- Все примеси в этом файле должны начинаться c имени блока (scroll-top)

mixin scroll-top(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +scroll-top('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' scroll-top--' + modsList[i].trim();
      }
    }

  button.scroll-top(class=allMods id='scroll-top')&attributes(attributes)
    | на вверх
    